@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.button {
  width: 100%;
  background-color: #702e69;
  border: 3px solid var(--border-color);
  border-radius: var(--button-roundness);
  outline: none;
  margin: 0.6em auto 0;
  padding: 0.7em;
  font-family: "Poppins", sans-serif;
  font-size: clamp(0.7rem, 5vw, 1.4rem);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.button:hover,
.button:focus-visible {
  background-color: scale-color($color: #702e69, $lightness: -20%);
}

.button:active {
  background-color: #702e69;
}

.button.disabled {
  background-color: scale-color($color: #702e69, $saturation: -50%);
  cursor: not-allowed;
}
