.button {
  display: block;
  box-sizing: border-box;
  appearance: none;
  border: 1px solid black;
  border-radius: var(--button-roundness);
  outline: none;
  cursor: pointer;
  margin: 20px auto;
  padding: 1rem;
  width: 100%;
  max-width: 405px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #702e69;
  transition: background-color 100ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: scale-color($color: #702e69, $lightness: -20%);
}

.button:active {
  background-color: #702e69;
}

.button:disabled {
  background-color: scale-color($color: #702e69, $saturation: -50%);
}
