.inputWrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 200px;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--button-roundness);
  font-weight: bold;
  font-size: 1.5rem;
  flex-grow: 1;
}

.valueWrapper {
  padding: 0 0.4rem;
  text-align: center;
  flex-grow: 1;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
}

.button {
  min-width: 50px;
  padding: 0.5rem;
  appearance: none;
  border: 0;
  background-color: white;
  border-left: var(--border-thickness) solid var(--border-color);
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  transition: background-color 100ms ease-in-out;
}

.plusButton {
  border-top-right-radius: calc(
    var(--button-roundness) - var(--border-thickness)
  );
  background-color: rgb(209, 0, 166);
}

.plusButton:hover,
.plusButton:focus-visible {
  background-color: scale-color($color: rgb(209, 0, 166), $lightness: 20%);
}

.plusButton:active {
  background-color: rgb(209, 0, 166);
}

.plusButton:disabled {
  background-color: scale-color($color: rgb(209, 0, 166), $saturation: -50%);
}

.minusButton {
  border-top: var(--border-thickness) solid var(--border-color);
  border-bottom-right-radius: calc(
    var(--button-roundness) - var(--border-thickness)
  );
  background-color: rgb(173, 0, 252);
}

.minusButton:hover,
.minusButton:focus-visible {
  background-color: scale-color($color: rgb(173, 0, 252), $lightness: 20%);
}

.minusButton:active {
  background-color: rgb(173, 0, 252);
}

.minusButton:disabled {
  background-color: scale-color($color: rgb(173, 0, 252), $saturation: -50%);
}
