@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap");

.grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  grid-template-columns: repeat(var(--columns), var(--tile-size));
}

.cell {
  font-family: "Chivo Mono", monospace;
  font-weight: bold;
  min-height: 100%;
  font-size: calc(var(--tile-size) * 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
