@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap");

.scrollingImageWrapper {
  position: absolute;
  overflow: hidden;
  width: var(--mosaic-width);
  height: var(--mosaic-height);
}

.scrollingImage {
  width: calc(var(--mosaic-width) * 2);
  height: calc(var(--mosaic-height) * 2);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  user-select: none;

  &.done {
    touch-action: none;
    cursor: move;
  }
}

.grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  grid-template-columns: repeat(var(--columns), var(--tile-size));
}

.cell {
  font-family: "Chivo Mono", monospace;
  font-weight: bold;
  min-height: 100%;
  font-size: calc(var(--tile-size) * 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
