@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  grid-template-columns: repeat(var(--columns), var(--tile-size));
}

.cell {
  font-family: "Major Mono Display", monospace;
  font-weight: bolder;
  min-height: 100%;
  letter-spacing: -0.3em;
  font-size: calc(var(--tile-size) * 0.8);
}
