.tile {
  display: block;
  width: var(--tile-size);
  height: var(--tile-size);
  background-size: var(--tile-size);
  image-rendering: pixelated;
  animation-name: pop;
  animation-duration: var(--tile-animation-delay);
  animation-timing-function: ease-out;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
}
