.tile {
  display: block;
  width: var(--tile-size);
  height: var(--tile-size);
  image-rendering: pixelated;
  animation-name: pop;
  animation-duration: 200ms;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
}
