@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
  background-color: #391d36;
  position: sticky;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.linksList {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 30px;
  max-width: min(1200px, 90vw);
  margin: 0 auto;
  list-style: none;
  font-size: clamp(0.8rem, 4.6vw, 1.1rem);
  padding: 0.8em 0;
  overflow-x: auto;
}

.listItem:first-child {
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: #bbb;
  transition: color 100ms;

  &:global.active {
    font-weight: 700;
    color: white;
  }

  &:hover,
  &:focus-visible {
    color: white;
  }
}
