.linksList {
  display: flex;
  max-width: min(1200px, 90vw);
  margin: 20px auto;
  list-style: none;
  padding: 0;
  overflow-x: auto;
}

.listItem {
  margin-right: 20px;

  &:first-child {
    margin-right: auto;
  }

  &:last-child {
    margin-right: 0;
  }
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  padding: 0.6rem;
  border-radius: var(--button-roundness);
  display: inline-block;
  transition: background-color 100ms;
  outline: none;

  &:global.active {
    background-color: lighten($color: #5e2758, $amount: 5);
  }

  &:hover,
  &:focus-visible {
    background-color: #5e2758;
  }

  &:active {
    background-color: lighten($color: #5e2758, $amount: 5);
  }
}
