@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.linksList {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 15px;
  max-width: min(1200px, 90vw);
  margin: 0 auto;
  list-style: none;
  font-size: clamp(0.8rem, 1.9vw, 1.3rem);
  padding: 1em 0;
  overflow-x: auto;
}

.listItem:first-child {
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.8em;
  border-radius: var(--button-roundness);
  display: inline-block;
  transition: background-color 100ms;
  outline: none;

  &:global.active {
    background-color: lighten($color: #5e2758, $amount: 5);
  }

  &:hover,
  &:focus-visible {
    background-color: #5e2758;
  }

  &:active {
    background-color: lighten($color: #5e2758, $amount: 5);
  }
}
