:root {
  --button-roundness: 10px;
  --border-thickness: 3px;
  --border-color: black;
  --inner-button-roundness: calc(
    var(--button-roundness) - var(--border-thickness)
  );
  --tile-size: min(calc(50vh / var(--rows)), calc(90vw / var(--columns)));
  --mosaic-width: calc(var(--tile-size) * var(--columns));
  --mosaic-height: calc(var(--tile-size) * var(--rows));
}

html {
  background: rgb(57, 29, 54);
  color: white;
}

body {
  margin: 0;
}
