@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --button-roundness: 10px;
  --border-thickness: 3px;
  --border-color: black;
  --inner-button-roundness: calc(
    var(--button-roundness) - var(--border-thickness)
  );
  --tile-size: min(calc(50vh / var(--rows)), calc(90vw / var(--columns)));
  --mosaic-width: calc(var(--tile-size) * var(--columns));
  --mosaic-height: calc(var(--tile-size) * var(--rows));
}

html {
  height: 100%;
  background: rgb(57, 29, 54);
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
