@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --button-roundness: 10px;
  --border-thickness: 3px;
  --border-color: black;
  --inner-button-roundness: calc(
    var(--button-roundness) - var(--border-thickness)
  );
  --mosaic-max-height: 40vh;
  --tile-size: min(
    calc(var(--mosaic-max-height) / var(--rows)),
    calc(90vw / var(--columns))
  );
  --mosaic-width: calc(var(--tile-size) * var(--columns));
  --mosaic-height: calc(var(--tile-size) * var(--rows));
}

html {
  background: rgb(57, 29, 54);
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
